.nav{
    background-color: #f9f9fa;
    padding:20px 50px;
    box-sizing:border-box;
    /* 예: width를 200px로 했을 때 padding을 50px로 하면 설정된 width 200px를 유지하기 위해 실제 총 width는 padding 값을 더한 숫자인 250px가 됨. box-sizing을 border-box로 설정하면 padding 값을 포함하여 width값을 유지함. */
    border-top:1px solid rgba(121,121,121,0.3);
    position:fixed;
    bottom:0;
    width:100%;
}
.nav__list{
    display:flex;
    justify-content: space-between;
}
.nav__link{
    color:#2e363e;
    position:relative;
}

@keyframes notificationAnimation{
    0%{
        transform:none;
    }
    50%{
        transform:translateY(-5px) rotateY(360deg);
    }
    100%{
        transform:none;
    }
}
.nav__notification{
    position:absolute;
    left:20px;
    bottom:20px;
    animation:notificationAnimation 2s ease-in-out infinite;
}
.nav__point{
    position:absolute;
    top:-15px;
    right:-5px;
}

@keyframes appearBtnAnimation{
    from{
        opacity:0
    }
    to{
        transform: none;
        opacity:1;
    }
}
.nav__btn{
    transform:translateY(60px);
    animation:appearBtnAnimation 1s ease-in-out forwards;
}

.nav__btn:nth-child(2){
    animation-delay: 0.5s;
}
.nav__btn:nth-child(3){
    animation-delay: 1s;
}
.nav__btn:nth-child(4){
    animation-delay: 1.5s;
}
