.screen-header{
    display:flex;
    padding:var(--horinontal-space);
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.screen-header__title{
    font-size:32px;
    font-weight:600;
}
.screen-header__icons{
    display:flex;
}
.screen-header__icons>*{
    margin-left:25px;
}
.screen-header__cog{
    position:relative;
}
.screen-header__cog>.red-point{
    position:absolute;
    bottom:20px;
    right: -5px;
}

@keyframes spinningIcon{
    from{
        transform: rotate(360deg);
    }
    to{
        transform: none;
    }
}

.screen-header i:hover{
    animation: spinningIcon 0.5s linear infinite;
}