.screen-header{
    position:fixed;
    top:32px;
    width:100%;
    display:flex;
    padding:25px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
.screen-header__title{
    font-size:32px;
    font-weight:600;
}
.screen-header__icons span{
    margin-left:25px;
}