.screen-header{
    position:fixed;
    top:25px;
    width:100%;
    display:flex;
    padding:var(--horinontal-space);
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.screen-header__title{
    font-size:32px;
    font-weight:600;
}
.screen-header__icons{
    display:flex;
}
.screen-header__icons>*{
    margin-left:25px;
}