@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "variables.css";
/* Component */
@import "component/status-bar.css";
@import "component/nav-bar.css";
@import "component/screen-header.css";
@import "component/user-component.css";
@import "component/badge.css";
@import "component/red-point.css";
@import "component/open-chat-content.css";
@import "component/icon-raw.css";
/* Screens */
@import "screens/login-form.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/more.css";


body{
    font-family:"Open Sans", 'Arial Narrow', Arial, sans-serif;
    height:1000vh;
    color:#2e363e;
}
.fixed-component{
    position:fixed;
    flex-direction: column;
    width:100%;
    top:0px;
    box-sizing: border-box;
    z-index: 1;
}

.welcome-header{
    margin:90px 0px;
    text-align:center;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.welcome-header__title{
    margin-bottom:40px;
    font-size: 25px;
    font-weight:600;
}
.welcome-header__text{
    width:60%;
    opacity:0.7;
}
.main-screen{
    margin-right:var(--horinontal-space);
    margin-left:var(--horinontal-space);
    box-sizing: border-box;
}