@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "variables.css";
/* Component */
@import "component/status-bar.css";
@import "component/nav-bar.css";
@import "component/screen-header.css";
@import "component/user-component.css";
/* Screens */
@import "screens/login-form.css";
@import "screens/friends.css";
@import "screens/chats.css";


body{
    font-family:"Open Sans", 'Arial Narrow', Arial, sans-serif;
    height:1000vh;
    color:#2e363e;
}
.welcome-header{
    margin:90px 0px;
    text-align:center;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.welcome-header__title{
    margin-bottom:40px;
    font-size: 25px;
    font-weight:600;
}
.welcome-header__text{
    width:60%;
    opacity:0.7;
}
.number-mark{
    background-color: tomato;
    width:20px;
    height:20px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items:center;
    font-weight: 600;
    color:white;
}