.ballon {
    position: relative;
    width: 205px;
    height: 40px;
    background: #484848;
    color: white;
    border-radius: 5px;
    padding: 12px 12.8px;
}
.ballon::after {
    border-top: 10px solid #484848;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 100px;
    left: 160px;
}
.test-parent:focus-within{
    background: green;
    color: #fff;
}