#friends-display-link{
    text-align:center;
    background-color: #fafafa;
    padding:15px 0px;
    font-size:18px;
}
.friends-screen__channel .user-component{
    margin-top:0px;
}
.friends-screen{
    margin-top: 160px;
}
.friends-screen__channel{
    border-top: var(--main-border);
    margin: 15px 0px;
}
.friends-screen__channel-header{
    color: var(--light-text-color);
    margin:15px 0px;
    display: flex;
    justify-content: space-between;
}
.friends-screen__channel-list{
    display:flex;
    justify-content: space-between;
}
#friends-display-link i{
    color:var(--light-text-color)
}
@keyframes hideSpalshScreen{
    from{
        opacity:1;
    }
    to{
        opacity:0;
        visibility: hidden;
    }
}

#splash-screen{
    background-color: var(--yellow);
    position:absolute;
    height:100vh;
    width:100vw;
    top:0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 132px;
    animation:hideSpalshScreen 1s ease-in-out forwards;
    /* animation-delay:2s; */
}