#friends-display-link{
    text-align:center;
    background-color: #fafafa;
    padding:15px 0px;
    font-size:18px;
}
.friends-screen__channel .user-component{
    margin-top:0px;
}
.friends-screen{
    margin-top: 160px;
}
.friends-screen__channel{
    border-top: var(--main-border);
    margin: 15px 0px;
}
.friends-screen__channel-header{
    color: var(--light-text-color);
    margin:15px 0px;
    display: flex;
    justify-content: space-between;
}
.friends-screen__channel-list{
    display:flex;
    justify-content: space-between;
}
#friends-display-link i{
    color:var(--light-text-color)
}